# Default
*.egg-info
*.pot
*.py[co]
.tox/
MANIFEST
dist/
docs/_build/
docs/locale/
node_modules/
tests/coverage_html/
tests/.coverage
build/
tests/report/

# Environment
.python-version

# Folders
**/__pycache__/
.vscode/
.idea/
assets/
upload/

# Files
**/*.db[3]
**/*.sqlite[3]
.env
config/settings/local.py
