{% extends "base.html" %}

{% load static %}

{% block meta %}
<link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}" />
{% endblock meta %}

{% block styles %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&family=Open+Sans:wght@300..800&display=swap" rel="stylesheet">
{% endblock styles %}

{% block scripts %}
    <script defer src="https://kit.fontawesome.com/a636494b41.js" crossorigin="anonymous"></script>
{% endblock scripts %}