<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block meta %}{% endblock meta %}
    {% block styles %}{% endblock styles %}
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
    {% block header %}{% endblock header %}
    {% block hero %}{% endblock hero %}
    {% block content %}{% endblock content %}
    {% block footer %}{% endblock footer %}
    {% block scripts %}{% endblock scripts %}
</body>
</html>